* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    /* Color Palette*/
    --primary-color:rgb(112, 112, 224); 
    --secondary-color:white;
    --transition-color:rgb(6, 130, 187);
    --appear-color:black;
    --background-color: rgb(171, 186, 196);
    --second-background-color: rgb(85, 82, 82);

    /* Typography */
    --font-main: "serif";
    --font-size-base: "16px";
    --font-size-large: "24px";
    
    /* Spacing */
    --spacing-small: 7px;
    --spacing-medium: 12px;
    --spacing-large: 28px;
    --spacing-larger: 100px;
}

body {
    font-family: var(--font-main);
    font-size: var(--spacing-large);
    line-height: 2;
    color: black;
    background-color: var(--second-background-color);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    padding: 20px 0;
}

main {
    max-width: 800%;
    width: 100%;
    padding: 0 16px;
    background-color: var(--background-color);

}

h1 {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-large);
    line-height: 5em;
}

h2 {
    display: flex;
    justify-content: center;
    margin-top: var(--spacing-large);
    line-height: 5em;
}

h4 {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-large);
    justify-content: center;
}

ul {
    max-width: left var(--spacing-large);
    margin-bottom: var(--spacing-small);
}

.nav-horizontal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: var(--second-background-color);
    padding: 0 var(--spacing-large);
    z-index: 1000;
}

.nav-horizontal ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    gap: 0px;
}

.nav-horizontal li {
    margin: var(--spacing-medium);
    display: flex;
    justify-content: center;

}

.nav-horizontal a {
    width: auto;
    padding: var(--spacing-medium);
    display: block;
    color: black;
    background-color: var(--secondary-color);
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 1px solid black;
}

.nav-horizontal a:hover {
    background-color: var(--transition-color);
    transform: translateY(5px);
}

/* skills section style */

.skills-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.skills-card{
    font-family: var(--font-main);
    color: white;
    border: 1px solid black;
    background-color: var(--secondary-color);
    padding: 16px;
    font-weight: var(--spacing-small);
    line-height: var(--spacing-large);
    flex-grow: 1; flex-shrink: 1; flex-basis: 300px;
    margin: var(--spacing-large);
    transition: color 0.3s ease, background-color 0.3s ease;

}

.skills-card:hover {
    color: black;
    background-color: var(--primary-color);
}

.skills-card img{
    width: 50%;
    height: auto;
}

.projects-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.projects-card{
    font-family: var(--font-main);
    color: var(--secondary-color);
    border: 1px solid black;
    background-color: var(--secondary-color);
    padding: 19px;
    font-weight: 100px;
    line-height: var(--spacing-large);
    flex-grow: 1; flex-shrink: 1; flex-basis: 300px;
    margin: var(--spacing-medium);
    transition: color 0.3s ease, background-color 0.3s ease;
    width: 4px;
}

.projects-card h2 {
    margin: var(--spacing-medium);
    width: 450px;
    font-weight: 100;
}
.projects-card:hover {
    color: black;
    background-color: var(--primary-color);
}
.projects-card img{
    width: 50%;
    height: auto;
}

.footer-button {
    width: auto;
    display: flex;
    justify-content: center;
}
.footer-button a {

    padding: var(--spacing-medium);
    display: block;
    color: black;
    background-color: var(--secondary-color);
    margin-bottom: 12px;
    text-decoration: none;
    transition: background-color 0.3s ease, transform 0.3s ease;
    border: 1px solid black;
}

.footer-button li {
    margin: var(--spacing-medium);
}

.footer-button a:hover {
    background-color: var(--transition-color);
    transform: translateY(5px);
}

.header{
    display: flex;
    justify-content: center;

}

@media (width >= 480px) {}

@media (width >= 1024px) {}